<div class='row'>
  <table class = "table table-striped table-bordered table-hover order-table col-xs-12">
    <h2><caption>Order summary</caption></h2>
    <thead>
      <tr>
        <td><strong>IQ Power System</strong></td>
        <td><strong>Quantity</strong></td>
        <td><strong>Sub-Total</strong></td>
        <td><strong>Tax</strong></td>
        <td><strong>Total</strong></td>
      </tr>
    </thead>
    <br />
    <tbody>
      <% order.order_items.each do |item| %>
      <% items = (pluralize item.quantity, "Item") %>
      <tr>
        <td colpan='2'><%= item.ordered_item.full_name %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency item.sub_total %></td>
        <td><%= number_to_currency item.tax_amount %></td>
        <td><%= number_to_currency item.total %></td>
      </tr>
      <% end %>
      
    </tbody>
    <tfoot>
      <tr>
        <td colspan='2'>Sub-Total</td>
        <td colspan='2'><%= number_to_currency order.total_before_tax %></td>
      </tr>
      <tr>
        <td colspan='2'>Tax</td>
        <td colspan='2'><%= number_to_currency order.tax %></td>
      </tr>
      <tr>
        <td colspan='2'>Total</td>
        <td colspan='2'><%= number_to_currency order.total %></td>
      </tr>
    </tfoot>
  </table>
</div>