<table>
  <caption>Order summary</caption>
  <thead>
    <tr>
      <td><strong>IQ Power System</strong></td>
      <td><strong>Quantity</strong></td>
      <td><strong>Sub-Total</strong></td>
      <td><strong>Tax</strong></td>
      <td><strong>Total</strong></td>
    </tr>
  </thead>
  <br />
  <tbody>
    <% order.order_items.each do |item| %>
    <% items = (pluralize item.quantity, "Item") %>
    <tr>
      <td colpan='3'><%= item.ordered_item.full_name %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency item.sub_total %></td>
      <td><%= number_to_currency item.tax_amount %></td>
      <td><%= number_to_currency item.total %></td>
    </tr>
    <% end %>
    
  </tbody>
  <tfoot>
    <tr>
      <td colspan='2'>Sub-Total</td>
      <td colspan='2'><%= number_to_currency order.total_before_tax %></td>
    </tr>
    <tr>
      <td colspan='2'>Tax</td>
      <td colspan='2'><%= number_to_currency order.tax %></td>
    </tr>
    <tr>
      <td colspan='2'>Total</td>
      <td colspan='2'><%= number_to_currency order.total %></td>
    </tr>
  </tfoot>
</table>

<h2 style="color:#194681">Your Info</h2>
<table>
  <tbody>
    <tr>
      <td>Name:</td>
      <td><%= order.first_name order.last_name %></td>
    </tr>
    <tr>
      <td>Company:</td>
      <td><%= order.company %></td>
    </tr>
    <tr>
      <td>Phone #:</td>
      <td><%= order.phone_number %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= order.email_address %></td>
    </tr>
    <tr>
      <td>Billing Address</td>
      <td>
        <%= order.billing_address1 %><br>
        <%= order.billing_address2 %><br>
        <%= order.billing_address3 %>
      </td>
    </tr>
  </tbody>
</table>