<div class='row'>
  <table class = "table table-striped table-bordered table-hover order-table col-xs-12">
    <caption>Order summary</caption>
    <thead>
      <tr>
        <strong><td>IQ Power System</td>
        <td colpan='2'>Quantity</td>
        <td colpan='2'>Sub-Total</td>
        <td colpan='2'>Tax</td>
        <td colpan='2'>Total</td></strong>
      </tr>
    </thead>
    <tbody>
      <% order.order_items.each do |item| %>
      <% items = (pluralize item.quantity, "Item") %>
      <tr>
        <td colpan='2'><%= item.ordered_item.full_name %></td>
        <td colpan='2'><%= item.quantity %></td>
        <td colpan='2'><%= number_to_currency item.sub_total %></td>
        <td colpan='2'><%= number_to_currency item.tax_amount %></td>
        <td colpan='2'><%= number_to_currency item.total %></td>
      </tr>
      <% end %>

    </tbody>
    <tfoot>
      <tr>
        <td colspan='2'>Sub-Total</td>
        <td colspan='2'><%= number_to_currency order.total_before_tax %></td>
      </tr>
      <tr>
        <td colspan='2'>Tax</td>
        <td colspan='2'><%= number_to_currency order.tax %></td>
      </tr>
      <tr>
        <td colspan='2'>Total</td>
        <td colspan='2'><%= number_to_currency order.total %></td>
      </tr>
    </tfoot>
  </table>
</div>