<h2>Hello <%=@order.first_name%>!</h2>

<br /><br />

Re: Order #<%=@order.number%>

<br />
<br />

<%= render 'items', :order => @order %>

<p>We're pleased to let you know that we have received your order. A JetStreamIQ representative will contact you as soon as possible.</p>

<br />

Thanks you,
<br />
<br />
<%=Shoppe.settings.store_name%>
<br />
<%=Shoppe.settings.email_address%>