<h2 style="color:#194681">Hello <%=@order.first_name%>!</h2>

<p>We are pleased to let you know that we have received your order. A JetStreamIQ representative will contact you as soon as possible.</p>

Re: Order #<%=@order.number%>

<br />
<br />

<%= render 'items', :order => @order %>

<br />

Thank you for your order,
<br />
<br />
<%=Shoppe.settings.store_name%>
<br />
<%=Shoppe.settings.email_address%>